<a href="https://colab.research.google.com/github/sarisppp/PJ63_CE18/blob/master/15_11_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


ทำการ import Envoloment แล้ว โหลดข้อมูล

In [5]:
import numpy as np
import pandas as pd
from pandas_datareader import data as pdr
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
used_features = ['Timestamp','SET50.Close','EMAV(34)','RSI(14)','EMAV(RSI,13)','MACD(13,5,5)','Signal','MSTO%K','MSTO%D','DI+','DI-','ADX']
data1 = pd.read_excel("/content/drive/My Drive/Data/new/Set50_130919_200820_1.xlsx",usecols =used_features)
data2 = pd.read_excel("/content/drive/My Drive/Data/new/Set50_210829_191020_2.xlsx",usecols =used_features)
data3 = pd.read_excel("/content/drive/My Drive/Data/new/Set50_201020_041120_3.xlsx",usecols =used_features)
data4 = pd.read_excel("/content/drive/My Drive/Data/new/Set50_051120_060121_4.xlsx",usecols =used_features)
data = pd.concat([data1,data2,data3,data4],ignore_index=True)
data["Timestamp"] = pd.to_datetime(data['Timestamp']) #ทำวันที่
data.set_index("Timestamp",inplace=True)
#data.reset_index("Timestamp") # ยกเลิก Index Row
data=data.dropna()
data.tail(100)
#data.loc["2020-08"]

In [ ]:
data.info() # ดูข้อมูล

In [9]:
for i in ["EMAV(34)","MSTO%K","MSTO%D","RSI(14)","ADX","DI+","DI-","MACD(13,5,5)","Signal","EMAV(RSI,13)"]:
  data[i] = pd.to_numeric(data[i],errors='coerce')

In [10]:
data.isnull().sum()
data=data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 81447 entries, 2019-03-13 14:59:00 to 2021-06-01 16:46:00
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SET50.Close   81447 non-null  float64
 1   EMAV(34)      81447 non-null  float64
 2   MSTO%K        81447 non-null  float64
 3   MSTO%D        81447 non-null  float64
 4   RSI(14)       81447 non-null  float64
 5   ADX           81447 non-null  float64
 6   DI+           81447 non-null  float64
 7   DI-           81447 non-null  float64
 8   MACD(13,5,5)  81447 non-null  float64
 9   Signal        81447 non-null  float64
 10  EMAV(RSI,13)  81447 non-null  float64
dtypes: float64(11)
memory usage: 7.5 MB

In [ ]:
#plt.plot(data["Timestamp"].head(100))
plt.figure(figsize=(40,20))
plt.plot(data.index,data["SET50.Close"])
plt.show()

In [11]:
def signal(data,periods=16):
  data['output']=0
  for index,row in data.iterrows():
    if row['MACD(13,5,5)']>row['Signal'] and row['RSI(14)']>row['EMAV(RSI,13)'] and row['RSI(14)']<70:
      signalPre=1
    elif row['MACD(13,5,5)']<row['Signal'] and row['RSI(14)']<row['EMAV(RSI,13)'] and row['RSI(14)']>30:
      if row['SET50.Close']<row['EMAV(34)']:
        signalPre=-1
      else:
        signalPre=0
    else:
      signalPre=0
    data.at[index,'output']= signalPre
    
     
  return data

In [12]:
def updown(data):
    data['UpHoldDown']=0
    for index,row in data.iterrows():
      if row['SET50.Close']>row['SET50.Close']:
        signalpre = 1
      elif row['SET50.Close']<row['SET50.Close']:
        signalpre = -1
      else:
        signalpre = 0
      data.at[index,'UpHoldDown']=signalpre
    
    return data

In [13]:
#เงื่อนไขใหม่
def signal2(data,periods=16):
  data['output2']=0
  for index,row in data.iterrows():
    if row['MACD(13,5,5)']>row['Signal'] and row['RSI(14)']>row['EMAV(RSI,13)'] and row['RSI(14)']<70 and row['MSTO%K']>row["MSTO%D"] and row["DI+"]>row["DI-"]:
      signalPre=1
    elif row['MACD(13,5,5)']<row['Signal'] and row['RSI(14)']<row['EMAV(RSI,13)'] and row['RSI(14)']>30 and row['MSTO%K']<row["MSTO%D"] and row["DI+"]<row["DI-"]:
      if row['SET50.Close']<row['EMAV(34)']:
        signalPre=-1
      else:
        signalPre=0
    else:
      signalPre=0
    data.at[index,'output2']= signalPre
    
     
  return data

In [14]:
data['UHD']=0
for i in range(len(data["SET50.Close"])):
  if data["SET50.Close"][i]>data["SET50.Close"][i-1]:
    signalpre = 1 
  elif data["SET50.Close"][i]<data["SET50.Close"][i-1]:
    signalpre = -1
  else:
    signalpre = 0
  data["UHD"][i]=signalpre
#data.head(40)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [15]:
data.tail(20)

                     SET50.Close  EMAV(34)  MSTO%K  ...  Signal  EMAV(RSI,13)  UHD
Timestamp                                           ...
2021-06-01 16:18:00       940.37  941.8072  92.697  ... -0.8086        35.202    1
2021-06-01 16:19:00       940.29  941.7205  84.853  ... -0.5237        36.732   -1
2021-06-01 16:20:00       940.76  941.6656  79.242  ... -0.2679        38.434    1
2021-06-01 16:21:00       939.67  941.5516  55.080  ... -0.1329        39.113   -1
2021-06-01 16:22:00       939.20  941.4172  27.926  ... -0.0952        39.389   -1
2021-06-01 16:23:00       939.89  941.3299  26.411  ... -0.0558        40.238    1
2021-06-01 16:24:00       939.61  941.2317  37.681  ... -0.0395        40.766   -1
2021-06-01 16:25:00       939.23  941.1173  37.668  ... -0.0584        40.949   -1
2021-06-01 16:26:00       939.37  941.0174  22.759  ... -0.0775        41.244    1
2021-06-01 16:27:00       939.81  940.9484  23.776  ... -0.0643        41.935    1
2021-06-01 16:28:00       940.64  940.9308  55.606  ...  0.0127        43.286    1
2021-06-01 16:29:00       940.50  940.9062  79.350  ...  0.0914        44.315   -1
2021-06-01 16:30:00       940.68  940.8933  96.737  ...  0.1671        45.365    1
2021-06-01 16:36:00       940.41  940.8657  90.215  ...  0.2085        45.992   -1
2021-06-01 16:37:00       940.41  940.8396  82.524  ...  0.2264        46.530    0
2021-06-01 16:38:00       940.41  940.8151  67.857  ...  0.2286        46.990    0
2021-06-01 16:40:00       940.41  940.7919   0.000  ...  0.2208        47.385    0
2021-06-01 16:44:00       940.41  940.7701   0.000  ...  0.2071        47.724    0
2021-06-01 16:45:00       940.41  940.7495   0.000  ...  0.1902        48.014    0
2021-06-01 16:46:00       940.41  940.7301   0.000  ...  0.1720        48.263    0

[20 rows x 12 columns]

In [12]:
g = ['UHD']
data.groupby(by= g)['SET50.Close'].count()

UHD
-1    39574
 0     2504
 1    39369
Name: SET50.Close, dtype: int64

In [16]:
data_new = data
data_new = signal2(data)
data_new.loc["20-08-20":"20-08-20 12"].head(20)

                     SET50.Close  EMAV(34)  MSTO%K  ...  EMAV(RSI,13)  UHD  output2
Timestamp                                           ...
2020-08-20 09:58:00       840.14  850.7779   0.000  ...        39.149   -1        0
2020-08-20 09:59:00       842.24  850.2900  10.067  ...        36.987    1        0
2020-08-20 10:00:00       844.22  849.9431  24.641  ...        36.421    1        0
2020-08-20 10:01:00       845.96  849.7155  55.421  ...        36.902    1        0
2020-08-20 10:02:00       845.35  849.4661  91.840  ...        37.105   -1        0
2020-08-20 10:03:00       845.62  849.2463  85.404  ...        37.431    1        0
2020-08-20 10:04:00       845.78  849.0482  71.783  ...        37.804    1        0
2020-08-20 10:05:00       845.60  848.8512  63.391  ...        38.050   -1        0
2020-08-20 10:06:00       846.32  848.7065  70.248  ...        38.718    1        0
2020-08-20 10:07:00       846.51  848.5810  80.409  ...        39.412    1        0
2020-08-20 10:08:00       846.33  848.4524  89.666  ...        39.915   -1        0
2020-08-20 10:09:00       846.58  848.3454  91.156  ...        40.523    1        0
2020-08-20 10:10:00       845.58  848.1874  57.325  ...        40.502   -1        0
2020-08-20 10:11:00       845.03  848.0070  27.344  ...        40.205   -1        0
2020-08-20 10:12:00       844.51  847.8071   1.481  ...        39.693   -1       -1
2020-08-20 10:13:00       843.79  847.5776   0.216  ...        38.912   -1       -1
2020-08-20 10:14:00       845.05  847.4331  37.578  ...        39.274    1        0
2020-08-20 10:15:00       844.57  847.2695  58.601  ...        39.329   -1        0
2020-08-20 10:16:00       844.74  847.1250  85.289  ...        39.516    1        0
2020-08-20 10:17:00       845.06  847.0070  77.851  ...        39.945    1        0

[20 rows x 13 columns]

In [17]:
signal2(data)

                     SET50.Close   EMAV(34)  MSTO%K  ...  EMAV(RSI,13)  UHD  output2
Timestamp                                            ...
2019-03-13 14:59:00      1081.74  1081.6691  28.800  ...        53.734    1        0
2019-03-13 15:00:00      1082.10  1081.6937  18.338  ...        53.498    1        0
2019-03-13 15:01:00      1081.04  1081.6564   9.574  ...        52.115   -1       -1
2019-03-13 15:02:00      1082.73  1081.7177  50.868  ...        52.648    1        0
2019-03-13 15:03:00      1082.66  1081.7716  67.551  ...        53.030   -1        1
...                          ...        ...     ...  ...           ...  ...      ...
2021-06-01 16:38:00       940.41   940.8151  67.857  ...        46.990    0        0
2021-06-01 16:40:00       940.41   940.7919   0.000  ...        47.385    0        0
2021-06-01 16:44:00       940.41   940.7701   0.000  ...        47.724    0        0
2021-06-01 16:45:00       940.41   940.7495   0.000  ...        48.014    0        0
2021-06-01 16:46:00       940.41   940.7301   0.000  ...        48.263    0        0

[81447 rows x 13 columns]

ตรวจสอบฟังชั่นกับราคาจริง

In [ ]:
data['UHD=OUTPUT2']=0
for i in range(len(data["UHD"])):
  if data["UHD"][i]==data["output2"][i-1]:
    s = 1 
  else:
    s = 0
  data["UHD=OUTPUT2"][i]=s

In [ ]:
data['UHD=PREDICT']=0
for i in range(len(data["UHD"])):
  if data["UHD"][i]==data["signal_predict"][i-1]:
    s = 1 
  else:
    s = 0
  data["UHD=PREDICT"][i]=s

In [ ]:
data.groupby(["UHD=OUTPUT2"])[["SET50.Close"]].count()

In [ ]:
a=0
b=0
for i in range(len(data["UHD=OUTPUT2"])):
  if data["UHD=OUTPUT2"][i]==1:
    a+=1
  else:
    b+=1
print("TRUE",a)
print("FALSE",a)

In [ ]:
data.tail(50)

In [ ]:
data.to_excel('new.xlsx') #export file

In [20]:
data2 = data.iloc[:,0:12]
X = data2.iloc[:,0:11]
y = data2["UHD"]

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
model = DecisionTreeClassifier()
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2)

In [22]:
print("Total X: {}".format(len(X)))
print("Total Train: {}".format(len(X_train)))
print("Total Test: {}".format(len(X_test)))

Total X: 81447
Total Train: 65157
Total Test: 16290

In [23]:
model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [24]:
y_predict = model.predict(X_test)
y_predict

array([ 1, -1,  1, ...,  1,  1,  1])

In [25]:
y_test

Timestamp
2020-05-29 12:12:00   -1
2020-12-30 12:28:00   -1
2020-09-11 14:38:00   -1
2020-02-19 11:41:00   -1
2020-07-17 16:11:00    1
                      ..
2020-02-09 11:29:00   -1
2019-11-09 14:48:00   -1
2019-12-18 15:15:00   -1
2019-12-09 15:05:00    1
2019-11-28 11:05:00    1
Name: UHD, Length: 16290, dtype: int64

In [26]:
print("Score = {}".format(accuracy_score(y_test,y_predict)*100))

Score = 72.49232658072438

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=0)
print(X_train.info())
print("=====================================")
print(y_train.head())
RandomForest = RandomForestClassifier(n_estimators=100,verbose=2)
RandomForest.fit(X_train, y_train)

In [29]:
y_predict=RandomForest.predict(X_test)

from sklearn.metrics import classification_report 
report = classification_report(y_test,y_predict)
print(report)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

              precision    recall  f1-score   support

          -1       0.80      0.80      0.80      7951
           0       0.95      0.59      0.73       496
           1       0.79      0.81      0.80      7843

    accuracy                           0.80     16290
   macro avg       0.85      0.73      0.78     16290
weighted avg       0.80      0.80      0.80     16290

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.4s finished

In [ ]:
xx = "SET50.Close","EMAV(34)","MSTO%K","MSTO%D","RSI(14)","ADX","DI+","DI-","MACD(13,5,5)","Signal","EMAV(RSI,13)"
yy = "UHD"
import pydotplus
from sklearn.tree import export_graphviz
from IPython.display import Image

dot_data = export_graphviz(model,out_file="tree",
                           feature_names=xx,
                           class_names=yy,
                           proportion=True,
                           filled=True,rounded=True,
                            impurity=False)
graph = pydotplus.graph_from_dot_data(dot_data)
Image(graph.create_png())

In [ ]:
export_graphviz(model,
                out_file='tree.dot',
                feature_names=encoded_data.columns,
                proportion=True,
                filled=True,
                impurity=False)